body {
    line-height: 1.2;
}

body {
    background-color: #fbf1c7;
    color: #3c3836;
    font-family: 'Noto Sans';
    font-size: 1.15em;
    margin: 0 auto 0 auto;
    padding: 1em;
    max-width: 130vh;
    min-width: 60vw;
    transition: 300ms;
}

.dark-mode body {
    background-color: #282828;
    color: #ebdbb2;
}

.light-mode body {
    background-color: #fbf1c7;
    color: #3c3836;
}

.dark-mode #ldToggle {
    content: url("light.svg");
    filter: invert(95%) sepia(4%) saturate(2615%) hue-rotate(341deg) brightness(101%) contrast(84%);
}

.light-mode #ldToggle {
    content: url("dark.svg");
    filter: invert(20%) sepia(1%) saturate(6460%) hue-rotate(30deg) brightness(89%) contrast(85%);
}

.light-mode a {
    color: #076678;
}

.dark-mode a {
    color: #83a598;
}

p {
    margin: 0;
    width: 100%;
}

h2 {
    margin-bottom: 0.25em;
    font-size: 1.17em;
}

h1 {
    font-size: 1.5em;
}

ul {
    margin-top: 0;
}


#name {
    margin-top: 0.5em;
    font-weight: 600;
    height: 1.75em;
    margin-bottom: 0.5em;
    width: 100%;
}

#actname {
    float: left;
    margin: 0;
    font-size: 1.4em;
    width: auto;
}

#ldToggle {
    float: right;
    cursor: pointer;
    padding-top: 0.1em;
    height: 1.4em;
    width: 1.4em;
    padding-bottom: 0;
}